.container{
    width: 90vh;
    height: 99vh;
    border: 1px solid lightgrey;
    border-radius: 1%;
}
.group-btns{
    margin-left: 11px;
}
button{
    width: 520px;
}
.text-here{
    width: 520px;
}
