:root {
  --main-0: #f9fafa;
  --main-1: #eef0f1;
  --main-2: #d2d6db;
  --main-3: #b5bdc4;
  --main-4: #99a3ad;
  --main-5: #7d8a97;
  --main-6: #64707d;
  --main-7: #4d5760;
  --main-8: #363d44;
  --main-9: #202428;
  --main-a: rgba(8, 9, 10, 0.05);
  --main-theme: #3b49df;
  --main-theme-darker: #1827ce;
  --main-theme-lighter: #8d95f2;
  --theme-background: #eef0f1;
  --font-color: #08090a;
  --site-width: 1280px;
  --header-height: 56px;
  --header-bg: #fff;
}

/* Aside Left */
.hidden {
  display: none;
}

.leftBar .hidden {
  display: none;
}

.leftBar__menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  color: var(--main-9);
}

.leftBar__menu ul li a span {
  font-size: 1.25rem;
  padding-right: 0.5rem;
}

.leftBar__menu ul li a:hover {
  background-color: var(--main-a);
  color: var(--main-theme-darker);
  border-radius: 5px;
}

.leftBar__menu .more {
  font-size: 0.875rem;
}

.leftBar__menu .more a {
  color: var(--main-7);
  padding-left: 2rem;
}

.leftBar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
}

.leftBar__social a {
  font-size: 1.5rem;
  color: indigo;
  margin: 0 0.5rem;
}

.leftBar__social a:hover {
  color: var(--main-9);
}

.leftBar__taglist header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  padding-right: 0;
}

.leftBar__taglist header span {
  padding: 0.5rem;
  margin-right: 1rem;
  color: var(--main-6);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.leftBar__taglist header span:hover {
  color: var(--main-9);
  background-color: var(--main-a);
}

.leftBar__taglist ul {
  height: 40vh;
  overflow-y: auto;
  margin-right: 0.75rem;
  line-height: 1.6;
}

.leftBar__taglist ul li {
  padding: 0.5rem;
  cursor: pointer;
}

.leftBar__taglist ul li:hover {
  background-color: var(--main-a);
  color: var(--main-theme-darker);
  border-radius: 5px;
}

.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.hamburger .hidden {
  display: none;
}

.hamburger__content {
  max-width: 300px;
  width: 90%;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  position: relative;
}

.hamburger__content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--main-2);
}

.hamburger__content header h2 {
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hamburger__content header button {
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger__content header button:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--font-color);
  z-index: 1;
}

.hamburger__content__items {
  padding: 0.5rem;
}

.hamburger__content__items ul li {
  line-height: 1.6;
}
/*# sourceMappingURL=borrar.css.map */