@import "../../assets/variables";
.login-actions{

    .login-button{
        color: var(--main-theme);
        padding: 0.7rem .5rem;
        border-radius: 5px;

        text-align: center;
        font-weight: 500;
        margin: 0 .5rem 0 0;

        &:hover{
          background-color: var(--main-1);
        }
    }
    .create-account-button{
        background-color: var(--main-theme);
        color: var(--header-bg);
        padding: .7rem .5rem;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0.5rem;

        &:hover{
          background-color: var(--main-theme-darker);
          color: white;
        }
    }




}